/*General*/
/*:root {
  --color-web: #4d5ae5;
  --color-studio: #2e2f42;
  --color-list: #2e2f42;
  --color-link: #434455;
}*/
:root {
  --color-link: #2e2f42;
  --color-hover: #404bbf;
  --button-color: #4d5ae5;
  --background-color-button: #f4f4fd;
  --contact-link: #434455;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #434455;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:link:focus {
  color: var(--color-hover);
}

/*Header*/
.page-header {
  background-color: #ffffff;
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.menu-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-link);
}

.contacts-address {
  font-style: normal;
}

.contact-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/*Main*/
.section-one {
  background-color: #2e2f42;
}

.section-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.section-one-button {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.section-one-button:hover,
.section-one-button:focus {
  background-color: #404bbf;
}

.list-sec-two {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.par-sec-two {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-four {
  background-color: #f4f4fd;
}

.section-three-header {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.our-team {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.list-item-team {
  background-color: #ffffff;
}

.sec-four-team {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.sec-four-team-spec {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.page-footer {
  background-color: #2e2f42;
}

.footer-studio {
  color: #f4f4fd;
}

.footer-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/*Portfolio*/
.button-item {
  background-color: var(--background-color-button);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--button-color);
}

.button-item:hover,
.button-item:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.port-item {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.port-par {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}
