:root {
  --color-background: #ffffff;
  --color-fonts: #434455;
  --color-link-background: #2e2f42;
  --color-hover: #404bbf;
  --button-logo-color: #4d5ae5;
  --background-color-button: #f4f4fd;
}

body {
  background-color: var(--color-background);
  font-family: 'Roboto', sans-serif;
  color: var(--color-fonts);
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*Header*/
.page-header {
  background-color: var(--color-background);
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-logo-color);
}

.logo-studio {
  color: var(--color-link-background);
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-link-background);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--color-hover);
}

.contacts-address {
  font-style: normal;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-fonts);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--color-hover);
}

/*Main*/
.section-one {
  background-color: var(--color-link-background);
}

.section-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-background);
}

.section-one-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  color: var(--color-background);
  background-color: var(--button-logo-color);
}

.section-one-button:hover,
.section-one-button:focus {
  background-color: var(--color-hover);
}

.list-sec-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-link-background);
}

.par-sec-two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-fonts);
}

.section-four {
  background-color: var(--background-color-button);
}

.section-three-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-link-background);
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-link-background);
}

.list-item-team {
  background-color: var(--color-background);
}

.sec-four-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-link-background);
}

.sec-four-team-spec {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-fonts);
}

.page-footer {
  background-color: var(--color-link-background);
}

.footer-studio {
  color: var(--background-color-button);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color-button);
}

/*Portfolio*/
.button-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--button-logo-color);
  background-color: var(--background-color-button);
}

.button-item:hover,
.button-item:focus {
  color: var(--button-logo-color);
  background-color: var(--color-hover);
}

.port-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-link-background);
}

.port-par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-fonts);
}
